.main{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .table{
    width: 60%;
    background-color: rgb(199, 226, 219);
    align-self: center;
    border-radius: 10px;
    margin-top: 2%;
    font-size: large;
    font-weight: 400;
    margin-right: 8%;
    box-shadow: -1px 2px 27px 13px rgba(39,84,67,0.75);
    -webkit-box-shadow: -1px 2px 27px 13px rgba(39,84,67,0.75);
    -moz-box-shadow: -1px 2px 27px 13px rgba(39,84,67,0.75);
  }
  table button{
    margin-right: 2px;
  }
  .card{
    width: 60%;
    background-color: rgb(199, 226, 219);
    align-self: center;
    border-radius: 10px;
    margin-top: 2%;
    font-size: large;
    font-weight: 400;
    margin-right: 8%;
    box-shadow: -1px 2px 27px 13px rgba(39,84,67,0.75);
    -webkit-box-shadow: -1px 2px 27px 13px rgba(39,84,67,0.75);
    -moz-box-shadow: -1px 2px 27px 13px rgba(39,84,67,0.75);
  }
  tr:hover{
    background-color: rgba(199, 214, 211, 0.938);
    font-size: large;
    font-weight: 400;
    color: #1d5a4e;
    cursor: pointer;
  }
  tr.tr-selected:focus{
    background-color: rgba(199, 214, 211, 0.938);
    font-size: large;
    font-weight: 400;
    color: #1d5a4e;
  }

  .handleDataBtn{
    width: 60%;
    align-self: center;
    border-radius: 10px;
    margin-top: 6%;
    font-size: large;
    font-weight: 400;
    margin-right: 8%;
  }
  .handleDataBtn button{
    margin-right: 3px;
    height: 120%;
    font-size: large;
    font-weight: 400;
  }
  button#btn-order{
    margin-left: 67%;
  
  } 
  .navbar-people {
    width: 80%;
    background-color: rgba(199, 226, 219, 0.552);
    align-self: center;
    border-radius: 10px;
    margin-top: 1%;
    font-size: large;
    font-weight: 400;
    
  }

  @media (max-width: 2300px){
    .handleDataBtn{
      width: 60%;
    }
    button#btn-order{
      margin-left: 60%;
    } 

  }
  @media (max-width: 1900px){
    .handleDataBtn{
      width: 60%;
    }
    button#btn-order{
      margin-left: 41%;
    } 

  }
  @media (max-width: 1300px){
    .handleDataBtn{
      width: 60%;
    }
    button#btn-order{
      margin-left: 30%;
    } 

  }
  @media (max-width: 1070px){
    .handleDataBtn{
      width: 60%;
    }
    button#btn-order{
      margin-left: 10%;
    } 

  }